






ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding : 0;
}

.pizza_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width : 100%;
}

.pizza_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width : 80%;
}


.pizza_card {
    display: flex;
    flex-direction: column;
    
    min-width: 250px;
    //width: 300px;
    border: 1px solid brown;
    border-radius: 5px;
    //background-color: burlywood;
    color: crimson;
    margin: 15px;
}