






ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding : 0;
}

.pizza_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width : 100%;
    background-color: #f5f5f5;

    .pizza_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width : 80%;
    }

    .pizza_card {
        display: flex;
        flex-direction: column;
        
        min-width: 250px;
        //width: 300px;
        border: 1px solid brown;
        border-radius: 5px;
        //background-color: burlywood;
        color: crimson;
        margin: 15px;
    }
}

/******************* Modif Material UI ****************/
.pizza_list_card {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    max-width: 300px;

    margin: 10px;
    padding: 0;
}
.pizza_list_card_central_content {
    width: 100%;
    min-height: 150px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pizza_list_chip {
    margin : 1px 1px; 
    color : darkgreen !important;

}


.card_button_zone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px 16px 16px;
    height : 50px;
    width: 100%;
    .pizza_price_chip {
        margin-left: 5px;
        font-weight: bold;
    }
    .card_button {
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        height : 30px;
        // padding : 15px;
        // padding-right: 5px;
        margin-right: 5px;
        font-size: 11px;
        

        .button_icon {
            font-size: 15px;
            padding: 3px;
        }
    }
    


}