@font-face {
    font-family: "RalewayBig";
    src: url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  }
@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
  }
  
  
  
 
  /*******************FOOTER********************/
  .footer-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #231f20;
    position: sticky;
    
    // padding: 3vh 0;
    ul {
      display : flex;
      margin : 0;
      padding : 0;
    list-style-type: none;

    font-family:"RalewayBig";
    }
    .h1 {
        font-family : "RalewayBig";
    }
  }
  
  .footer-first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    h3 {
      font-family: "Raleway";
      font-size: 16px;
    }

    div {
      min-width: 200px;
      flex-wrap: nowrap;
      padding: 20px;
      
    }
    ul {
      display: block;
      color: white;
      text-align: left;
      margin : 0 10px;
    }
    ul > li {
      display: block;
      align-items: left;
      text-indent: 5px;
      font-family: "RalewayBig";
      font-size: 14px;
      color: gray;
    }
  }
 

  .footer-second {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  
    color: gray;

    
  }
  .footer-social{
    ul {
      display : flex;
      flex-direction: row;
      margin : 0;
      padding : 0;
      list-style-type: none;

      font-family:"RalewayBig";
      }
   
    li {
      margin-right: .5rem;
    }
    
  }

  .footer-rules {
    display: flex;
    flex-direction: column;
    text-align: end;
    a {
      color : gray;
    }
  }
 
  @media only screen and (max-width: 600px) {
    .footer-first {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      margin-bottom : 4vh;
    }
    .footer-second {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      color: gray;
    }
    .footer-social ul,
    li {
      display: inline;
      justify-content: center;
      margin: 5px;
    }
    .footer-rules ul,
    li {
      margin: 5px;
    }
  }
  